/* Set the overall styling for the page */
body {
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  /* Style for regular paragraphs */
  p {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
  }
  
  /* Styling for the header section */
  header {
    background: #3498db;
    text-align: center;
    padding: 20px;
  }
  
  /* Styling for input elements */
  input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 14px;
  }
  
  /* Styling for the title */
  .title {
    font-weight: bold;
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
  }
  
  /* Styling for the subtitle */
  .subtitle {
    font-size: 18px;
    color: #e0e5ec;
    font-family: 'Comfortaa', cursive;
  }
  
  /* Styling for the card container */
  .card {
    background: #ffffff;
  }
  
  /* Styling for the figure container */
  .figure {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styling for the example square image */
  .example-square {
    border: 1px solid #ffffff;
    height: 125px;
    width: 100px;
  }
  
  /* Styling for the result-luas class */
  .result-luas {
    visibility: hidden;
  }
  
  /* Styling for forms */
  form {
    margin-bottom: 20px;
  }
  
  /* Styling for labels */
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  /* Styling for number input elements */
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  /* Styling for buttons */
  button {
    display: block;
    margin: 10px auto;
    width: 20%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Styling for button hover state */
  button:hover {
    background-color: #45a049;
  }
  
  /* Styling for the reset button */
  #reset-button {
    background-color: #f1b158;
    float: right; /* Add float: right; to move the button to the right */
  }
  
  /* Styling for output elements with IDs */
  #output-luas,
  #output-keliling {
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  